{% extends "base.html" %}

{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 col-md-7 col-lg-6 my-auto">
                <div class="home-hero-block d-flex flex-column align-items-center text-center">
                    <h1 class="display-4 hero-brand-title text-white mb-4">
                        Backyard CarMarket
                    </h1>
                    <div class="d-flex flex-column">
                        <a href="{% url 'listings_page' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}
