<div class="collapse navbar-collapse" id="main-nav">
    {% with current_segment=request.GET.vehicle_segment|default:'all' %}
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black segment-nav-link {% if request.resolver_match.url_name == 'listings_page' and current_segment == 'all' %}is-active{% endif %}" href="{% url 'listings_page' %}?vehicle_segment=all">
                All Vehicles
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black segment-nav-link {% if request.resolver_match.url_name == 'listings_page' and current_segment == 'cars' %}is-active{% endif %}" href="{% url 'listings_page' %}?vehicle_segment=cars">
                Cars
            </a>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black segment-nav-link {% if request.resolver_match.url_name == 'listings_page' and current_segment == 'suvs' %}is-active{% endif %}" href="{% url 'listings_page' %}?vehicle_segment=suvs">
                SUVs
            </a>
        </li>

        {% if request.user.is_authenticated %}
        {% if request.user.is_staff or request.user.is_superuser %}
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black ml-lg-4" href="{% url 'create_listing_form' %}">Create Listing</a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black ml-lg-4" href="{% url 'approvals_page' %}">Approvals</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black ml-lg-4" href="{% url 'create_listing_form' %}">Trade/Sell Your Car</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black ml-lg-4" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="{% url 'register' %}">Sign Up</a>
        </li>
        {% endif %}
    </ul>
    {% endwith %}
</div>