{% extends 'base.html' %}

{% block extra_title %}- Edit Profile{% endblock %}

{% block page_header %}
<div class="container header-container">
	<div class="row">
		<div class="col"></div>
	</div>
</div>
{% endblock %}

{% block content %}
<section class="container py-5 mt-5">
	<div class="row justify-content-center">
		<div class="col-12 col-md-9 col-lg-7">
			<h2 class="mb-4">{{ page_title|default:'Edit Profile' }}</h2>
			<form method="POST">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="submit" class="btn btn-dark">{{ submit_label|default:'Save Changes' }}</button>
				<a href="{% url 'profile' %}" class="btn btn-outline-secondary ml-2">Cancel</a>
			</form>
		</div>
	</div>
</section>
{% endblock %}
